/* Global */
	body { font-family: 'Oswald', sans-serif;
 }

/* Nav */
nav a:link,
nav a:visited,
a:link,
a:visited {
  color: #BDD4DE;
  text-decoration: none;
}
nav a:focus,
a:focus {
  background: green;
}
nav a:hover,
a:hover {
  background: #2B3A42;
  color: #EFEFEF;
}
nav a:active,
a:active {
  background: red;
}

/*	Home Page */
.main-header {
	text-align: center;
	background-color: #2B3A42;
}
ul {
	list-style-type: none;
}
.main-nav {
	display: flex;
	text-decoration: none;
	text-align: center;
	padding: 8px 15px;
	border-radius: 5px;
}
.main-nav li {
	align-self: center;
	margin-left: 8px;
	margin-right: 8px;
}
.homecontent {
	width: 60%;
	margin: auto;
	padding: 25px;
	background-color: #2B3A42;
}

/* Bio */
.me {
	width: 200px;
	border-radius: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 100px;

}
body {
	font-size: 1em;
	margin: 0;
	background-color: #3F5765;
}
h2 {
	color: #BDD4DE;
}

.bio-header {
	text-align: center;
	background-color: #2B3A42;
	color: #EFEFEF;
}
.secondary-header {
	color: #BDD4DE;
	text-align: center;
}
.primary-content,
.secondary-content {
	background-color: #2B3A42;
	width: 60%;
	margin: auto;
	padding: 25px;
}

.bio-footer {
	text-align: center;
}

/*Style-tile*/
/* Layout for Style Tile
Feel free to change */
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

/*Color Pallette*/
.style-tile .color-1 {
	background: #2B3A42;
}
.style-tile .color-2 {
	background: #BDD4DE;
}
.style-tile .color-3 {
	background: #EFEFEF;
}
body.style-tile {
	font-family: 'Oswald', sans-serif;
}
